.admin-registry {
  padding: 20px 0 60px;

  &__table {
    overflow-x: auto;

    & table {
      width: 930px;
      border-collapse: collapse;
    }
  }

  &__cell {
    padding: 10px;
    text-align: left;
    background-color: var(--accent-color);
    border: 1px solid #bfbfbf;
    font-family: $alt-font, Arial, Helvetica, sans-serif;
    font-size: 12px;
    vertical-align: top;

    &--head {
      font-weight: 600;
      font-size: 14px;
      vertical-align: middle;
    }

    &--id {
      width: 60px;
    }

    &--name {
      width: 180px;
    }

    &--img {
      width: 120px;
    }

    &--color {
      width: 60px;
    }

    &--size {
      width: 60px;
    }

    &--params {
      @include crop-text;

      width: auto;

      & ul {
        padding-left: 20px;
      }
    }

    &--descr {
      @include crop-text;

      width: auto;
    }
  }

  @include media-min ($lg) {
    &__table {
      overflow: visible;

      & table {
        width: 100%;
      }
    }
  }
}
