.btn {
  @include btn-reset;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 26px;
  color: var(--btn-color, var(--primary-color));
  background-color: var(--btn-bg, var(--secondary-color));
  border: 1px solid var(--btn-border-color, transparent);
  border-radius: 5px;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  text-decoration: none;

  &--dark {
    --btn-bg: var(--primary-color);
    --btn-color: var(--secondary-color);
  }

  &--green {
    --btn-color: var(--secondary-color);
    --btn-bg: var(--good-color);
  }

  @include media-min ($lg) {
    &:hover {
      --btn-bg: var(--primary-color);
      --btn-color: var(--secondary-color);
    }

    &--dark {
      &:hover {
        --btn-border-color: var(--primary-color);
        --btn-color: var(--primary-color);
        --btn-bg: var(--secondary-color);
      }
    }

    &--green {
      &:hover {
        --btn-border-color: var(--good-color);
        --btn-color: var(--primary-color);
        --btn-bg: var(--secondary-color);
      }
    }
  }
}
