.product-card {
  position: relative;
  color: var(--primary-color);
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  padding: 20px;

  &--reverse {
    flex-direction: column-reverse;
    background-color: transparent;
    background-image: linear-gradient(to top, #E5E5E5 0%, rgba(238, 238, 238, 0.4) 71.18%, rgba(174, 172, 172, 0) 105.91%);
  }

  &__title {
    margin: 0;
    flex-grow: 1;
    font-weight: 600;
    font-size: 18px;

    &--center {
      text-align: center;
    }
  }

  &__img {
    display: block;
    width: 100%;
    flex-shrink: 0;
    user-select: none;
  }

  &__link {
    &::after {
      @include full-size;

      content: '';
      z-index: 1;
    }
  }

  @include media-min ($md) {
    height: 100%;

    &__img {
      height: 250px;
    }
  }

  @include media-min ($lg) {

    &:hover,
    &:focus-within {
      --scale-img: 1.02;
    }

    &__title {
      font-size: 20px;
    }

    &__img {
      height: 200px;
      transform: scale(var(--scale-img, 0.99));
      transition: transform .4s ease-in-out;
    }
  }

  @include media-min ($xl) {
    &__img {
      height: 250px;
    }
  }
}
