.product-slider-card {

  &__slider {
    border-radius: 10px;
    margin-bottom: 10px;
  }

  &__slide {
    position: relative;
    height: 0;
    padding-bottom: 85%;
    overflow: hidden;
    background-color: var(--accent-color);

    & img {
      @include full-size;
    }
  }

  &__pagination {
    position: absolute;
    text-align: center;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    ;
    left: 50% !important;
    z-index: 1;
    width: 100%;
    max-width: 60%;
    overflow: hidden;
    border-radius: 99em;
    transform: translateX(-50%);
  }

  &__meta {
    position: relative;
  }

  &__title {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
  }

  &__price {
    & ins {
      text-decoration: none;
    }
  }

  &__price-val {
    font-size: 18px;
    font-weight: 500;
    opacity: 0.6;

    &--main {
      font-size: 22px;
      opacity: 1;
    }
  }

  &__link {
    &::after {
      @include full-size;

      content: '';
      z-index: 1;
    }
  }
}
